<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
<div class="container is-widescreen">

    <nav class="level">
        <div class="level-left">
          <div class="logo">
            <a href="/posts">
              <p class="title">ENGAGE.ME</p>
            </a>
          </div>
        </div>
      
        <div class="level-right">
            <div class="buttons">
                <a class="button is-link" href="/posts">
                    Return to All Posts
                </a>
            </div>
        </div>
    </nav>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title"><%= post.feedbackType %></p>
                </header>
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-one-fifth has-text-centered">
                        <p class="title">Upvotes</p>
                        <p class="subtitle"><%= post.upVotes %> </p>
                        </div>
                        <div class="column">
                            <div class="content">
                                <p class="title">
                                    <%= post.title %> 
                                </p>
                                <div class="box">
                                    <%= post.description %> 
                                </div>
                                <time>
                                <% if (post.createdAt === post.updatedAt) { %>
                                    <p class="subtitle is-6">
                                        <i>
                                            Created:
                                            <%= post.createdAt.toLocaleDateString() %>
                                            @
                                            <%= post.createdAt.toLocaleTimeString() %>
                                        </i>
                                    </p>
                                <% } else { %>
                                    <p class="subtitle is-6">
                                        <i>
                                            Created:
                                            <%= post.createdAt.toLocaleDateString() %>
                                            @
                                            <%= post.createdAt.toLocaleTimeString() %>
                                        </i>
                                    </p>
                                    <p class="subtitle is-6">
                                        <i>
                                            Last Edit:
                                            <%= post.updatedAt.toLocaleDateString() %>
                                            @
                                            <%= post.updatedAt.toLocaleTimeString() %>
                                        </i>
                                    </p>
                                <% } %> 
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <% for( let index = 0; index < post.comments.length; index++ ) { %>
                <% let editPost = post.comments.find(id => id = commentId) %> 
                <% let postIndex = post.comments.findIndex(obj => obj.id === commentId) %> 
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-one-fifth has-text-centered">
                                <strong>Posted by:</strong> <br>
                                Your Manager on <br>
                                <%= post.comments[index].createdAt.toLocaleDateString() %>
                                @
                                <%= post.comments[index].createdAt.toLocaleTimeString() %>
                            </div>
                            <div class="column">
                                <div class="content">
                                    <div class="box">
                                        <% if (index === postIndex) { %>
                                            <form action="/posts/<%= post._id %>/comments/<%= post.comments[index]._id %>?_method=PUT" method="post">
                                                <textarea class="textarea is-normal" name="comment"></textarea>
                                            <% } else { %>
                                             <%= post.comments[index].comment %>
                                             <% } %> 
                                        </div>
                                    </div>
                                    <% if (index === postIndex) { %>
                                    <nav class="level">
                                        <div class="level-left">
                                          <div class="level-item"></div>
                                        </div>
                                        <div class="level-right">
                                            <div class="buttons">
                                                <button type="submit" class="button is-success">Submit Edit</button>
                                            </form>
                                                <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
                                                    <button type="submit" class="button is-danger">Delete Post</button>
                                                </form>
                                            </div>
                                        </div>
                                    </nav>
                                    <% } %>
                                </div>
                        </div>
                    </div>
                </div>
            <% } %>
    
        <br>

</div>
</body>
</html>