<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
<div class="container is-widescreen">

    <nav class="level">
        <div class="level-left">
          <div class="logo">
            <a href="/posts">
              <p class="title">ENGAGE.ME</p>
            </a>
          </div>
        </div>
      
        <div class="level-right">
            <div class="buttons">
                <a class="button is-link" href="/posts/new">
                    + New Post
                </a>
            </div>
        </div>
    </nav>

    <% for( let index = 0; index < posts.length; index++ ) { %>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                      <%= posts[index].feedbackType %> 
                    </p>
                  </header>
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-one-fifth has-text-centered">
                        <p class="title">Upvotes</p>
                        <p class="subtitle" id="upvotes"><%= posts[index].upVotes %> </p>
                        </div>
                        <div class="column">
                            <div class="content">
                                <p class="title">
                                    <%= posts[index].title %> 
                                </p>
                                <time>
                                    <p class="subtitle is-6">
                                        <i>
                                            <%= posts[index].createdAt.toLocaleDateString() %>
                                            @
                                            <%= posts[index].createdAt.toLocaleTimeString() %>
                                        </i>
                                    </p>
                                </time>
                            </div>
                        </div>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                          <div class="level-item"></div>
                        </div>
                        <div class="level-right">
                            <div class="buttons">
                                <div class="level-item">
                                <form action="/posts/upvote/<%= posts[index]._id %>?_method=PUT" method="post">
                                <button type="submit" class="button is-success">^ Upvote</button>
                                </form>
                                </div>
                                <div class="level-item">
                                <a class="button is-link" href="/posts/<%= posts[index]._id %>">
                                    View Post
                                </a>
                                </div>
                            </div> 
                        </div>
                    </nav>
                </div>
            </div>
    
        <br>
    <% } %>

</div>
</body>
</html>