<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
<div class="container is-widescreen">

    <nav class="level">
        <div class="level-left">
          <div class="logo">
            <a href="/posts">
              <p class="title">ENGAGE.ME</p>
            </a>
          </div>
        </div>
      
        <div class="level-right">
            <div class="buttons">
                <a class="button is-link" href="/posts/new">
                    + New Post
                </a>
            </div>
        </div>
    </nav>

    <% for( let index = 0; index < posts.length; index++ ) { %>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                      <%= posts[index].feedbackType %> 
                    </p>
                  </header>
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-one-fifth has-text-centered">
                        <p class="title">Upvotes</p>
                        <p class="subtitle"><%= posts[index].upVotes %> </p>
                        </div>
                        <div class="column">
                            <div class="content">
                                <p class="title">
                                    <%= posts[index].title %> 
                                </p>
                                <time>
                                    <p class="subtitle is-6"><i><%= posts[index].createdAt %></i></p>
                                </time>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Upvote</a>
                        <a href="/posts/<%= posts[index]._id %>" class="card-footer-item">View Post</a>
                    </footer>
                </div>
            </div>
    
        <br>
    <% } %>

</div>
</body>
</html>